<!doctype html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>API</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="{% static 'custom.css' %}" rel="stylesheet">
  <link href="{% static 'homestyle.css' %}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'newspaper.ico' %}" />
  <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.1-web/css/all.css' %}">

  {% block extrahead %}{% endblock %}
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'home' %}" class="text-dark"><i class="fas fa-home"></i> Hall of Fame AJz</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      {% if user.is_authenticated %}
      <a class="p-2 text-dark" href="{% url 'dashboard' %}"><i class="fas fa-columns"></i> Dashboard</a>
      <a class="p-2 text-dark" href="{% url 'logout' %}">Log Out</a>
      {% else %}
      <a class="p-2 text-dark" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Log In</a>
      {% endif %}
    </nav>
    {% if user.is_authenticated == False %}
    <a style="margin-right:6px" class="btn btn-outline-primary" href="{% url 'signup' %}">Sign up </a>
    {% endif %}
    <a class="p-2 text-dark" href="{% url 'about' %}"><i class="fas fa-address-card"></i> About</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {% block content %}
  {% endblock %}

</body>
</html>
